<table>
  <tr>
    <th colspan="1">#ID</th>
    <th colspan="2">Arrived</th>
    <th colspan="5">Project Name</th>
    <th colspan="2">Apps Type</th>
    <th colspan="2">Deadline</th>
    <th colspan="2">Feature</th>
    <th colspan="2">Status</th>
  </tr>
  {% for object in object_list %}
  <tr>
    <td colspan="1">{{ forloop.counter }} :</td>
    <td colspan="2">{{object.create_at}}</td>
    <td colspan="5"><a href="{% url 'project-detail' object.pk %}">{{object.project.name}}</a></td>
    <td colspan="2">{{object.project.get_app_type_display}}</td>
    <td colspan="2">{{object.project.deadline}}</td>
    <td colspan="2"><a href="{% url 'feature-list' object.pk %}">Project Feature</a></td>
    <td colspan="2"><a href="{% url 'status-update' object.pk %}">{{object.stage_development}}</a></td>
  </tr>
  {% endfor %}
</table>