{% extends 'pro_sch/base/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<h3>Project Report:</h3>
<div>
    <span>New: 12 -- </span>
    <span>Development: 3 -- </span>
    <span>Completed: 2</span>
  </div>
<h3>New Project:</h3>
<table>
  <tr>
    <th colspan="1">#ID</th>
    <th colspan="2">Arrived</th>
    <th colspan="5">Project Name</th>
    <th colspan="2">Apps Type</th>
    <th colspan="2">Deadline</th>
    <th colspan="2">Status</th>
  </tr>
  <tr>
    <td colspan="1">1 :</td>
    <td colspan="2">2021/March/17</td>
    <td colspan="5"><a href="#">Project Scheduler</a></td>
    <td colspan="2">Web Apps Development</td>
    <td colspan="2">2021/March/21</td>
    <td colspan="2">Init Project</td>
  </tr>
</table>
<h3>Development Project:</h3>
<table>
  <tr>
    <th colspan="1">#ID</th>
    <th colspan="2">Arrived</th>
    <th colspan="5">Project Name</th>
    <th colspan="2">Apps Type</th>
    <th colspan="2">Deadline</th>
    <th colspan="2">Status</th>
  </tr>
  <tr>
    <td colspan="1">1 :</td>
    <td colspan="2">2021/March/17</td>
    <td colspan="5"><a href="#">Project Scheduler</a></td>
    <td colspan="2">Web Apps Development</td>
    <td colspan="2">2021/March/21</td>
    <td colspan="2">Init Project</td>
  </tr>
</table>
<h3>Completed Project:</h3>
<table>
  <tr>
    <th colspan="1">#ID</th>
    <th colspan="2">Arrived</th>
    <th colspan="5">Project Name</th>
    <th colspan="2">Apps Type</th>
    <th colspan="2">Deadline</th>
    <th colspan="2">Status</th>
  </tr>
  <tr>
    <td colspan="1">1 :</td>
    <td colspan="2">2021/March/17</td>
    <td colspan="5"><a href="#">Project Scheduler</a></td>
    <td colspan="2">Web Apps Development</td>
    <td colspan="2">2021/March/21</td>
    <td colspan="2">Init Project</td>
  </tr>
</table>
{% endblock content %}