{% extends 'pro_sch/base/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div>
  <span>Project Report: -- </span>
  <span>New: {{new_project_count}} -- </span>
  <span>Development: {{development_project_count}} -- </span>
  <span>Completed: {{completed_project_count}}</span>
</div>
<h3>New Project:</h3>
{% include 'pro_sch/base/report.html' with object_list=new_project_list %}
<h3>Development Project:</h3>
{% include 'pro_sch/base/report.html' with object_list=development_project_list %}
<h3>Completed Project:</h3>
{% include 'pro_sch/base/report.html' with object_list=completed_project_list %}
{% endblock content %}