{% extends 'pro_sch/base/base.html' %}

{% block title %}{{page_name}}{% endblock title %}

{% block content %}
{% if is_feature %}
<table>
  <tr>
    <td>Add :</td>
    <td><a href="{% url 'feature-create' project_pk %}">New Feature</a></td>
  </tr>
  {% if object_list %}
    {% for object in object_list %}
  <tr>
    <td>Model :</td>
    <td>{{object.name}}</td>
  </tr>
  <tr>
    <td>Model Oparetion :</td>
    <td>{{object.oparetion}}</td>
  </tr>
  <tr>
    <td>Notes :</td>
    <td>{{object.notes}}</td>
  </tr>
  <tr>
    <td>Edit :</td>
    <td><a href="{% url 'feature-update' object.pk %}">Link</a></td>
  </tr>
    {% endfor %}
  {% else %}
  <tr>
    <td>There is no feature.</td>
  </tr>
  {% endif %}
</table>
{% else %}
<h3>{{page_name}}</h3>
<table>
  <tr>
    <th colspan="3" >{{name}}</th>
    <th colspan="3" >Edit</th>
  </tr>
    {% for object in object_list %}
  <tr>
    <td colspan="3" >{{object.name}}</td>
    <td colspan="3">
    {% if is_language %}
      <a href="{% url 'language-update' object.pk %}">Link</a>
    {% endif %}
    {% if is_framework %}
      <a href="{% url 'framework-update' object.pk %}">Link</a>
    {% endif %}
    </td>
  </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock content %}