{% extends 'pro_sch/base/base.html' %}

{% block title %}{{page_name}}{% endblock title %}

{% block content %}
<h3>{{page_name}}</h3>
<table>
  <tr>
    <th colspan="3" >{{name}}</th>
    <th colspan="3" >Edit</th>
  </tr>
    {% for object in object_list %}
  <tr>
    <td colspan="3" >{{object.name}}</td>
    <td colspan="3">
    {% if is_language %}
      <a href="{% url 'language-update' object.pk %}">Link</a>
    {% endif %}
    {% if is_framework %}
      <a href="{% url 'framework-update' object.pk %}">Link</a>
    {% endif %}
    </td>
  </tr>
    {% endfor %}
</table>
{% endblock content %}